
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=e297977e83c099b74b72e03661cfb1fa
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
